.text-center {
    margin-top: 5%;
}

#table {
    margin-left: 5%;
}

#userOption {
    margin-top: 2%;
    width: 85.5%;
    margin-left: -4.5%;
    color: white;
    background: black;
}